.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.question {
    color: var(--fourth-color);
    font-size: 4rem;
    margin-bottom: 5rem;
    font-weight: 400;
}

.answersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.answer {
    flex: 1 1 33vw;
    box-shadow:
        5.1px 3.3px 2.7px rgba(0, 0, 0, 0.037),
        12.9px 8.3px 6.9px rgba(0, 0, 0, 0.053),
        26.4px 16.8px 14.2px rgba(0, 0, 0, 0.067),
        54.4px 34.7px 29.2px rgba(0, 0, 0, 0.083),
        149px 95px 80px rgba(0, 0, 0, 0.12);
    color: var(--second-color);
    background-color: var(--fourth-color);
    padding: 1.5rem 2rem;
    border-radius: var(--default-border-radius);
    border: 1rem solid transparent;
    font-size: 1.4rem;
    margin: 1rem;
    font-family: 'Fredoka', sans-serif;
    cursor: pointer;
    font-weight: 500;
    transition: background-color linear 0.2s;
    text-align: center;
}

.answerRight {
    border-color: var(--right-color);
    border-width: 1rem;
    color: var(--right-color);
}

.answerWrong {
    border-color: var(--wrong-color);
    border-width: 1rem;
    color: var(--wrong-color);
}