.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.question {
    flex: 1;
    color: var(--fourth-color);
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answersContainer {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
}

.answer {
    box-shadow:
        5.1px 3.3px 2.7px rgba(0, 0, 0, 0.037),
        12.9px 8.3px 6.9px rgba(0, 0, 0, 0.053),
        26.4px 16.8px 14.2px rgba(0, 0, 0, 0.067),
        54.4px 34.7px 29.2px rgba(0, 0, 0, 0.083),
        149px 95px 80px rgba(0, 0, 0, 0.12);
    color: var(--second-color);
    background-color: var(--fourth-color);
    padding: 0.9rem 1rem;
    border-radius: var(--default-border-radius);
    border: 1rem solid transparent;
    font-size: 1.4rem;
    font-family: 'Fredoka', sans-serif;
    cursor: pointer;
    font-weight: 500;
    transition: background-color linear 0.2s;
    text-align: center;
    width: 100%;
}

.answerRight {
    background-color: var(--right-color);
    color: white;
}

.answerWrong {
    background-color: var(--wrong-color);
    color: white;
}

@media only screen and (min-width: 768px) {

    .question {
        flex: 2;
        align-items: flex-end;
    }

    .answersContainer {
        flex: 5;
        flex-direction: row;
        align-content: center;
        gap: 2rem;
    }

    .answer {
        width: 40%;
    }
}


@media only screen and (min-width: 1200px) {
    

    .answersContainer {
       width: 80%;
    }

    .answer {
        width: 40%;
    }
}